.env

# preserve folder tree

zbx_env/etc/zabbix/zabbix_agentd.d/*
zbx_env/usr/lib/zabbix/externalscripts/*
zbx_env/var/lib/zabbix/modules/*
zbx_env/var/lib/zabbix/enc/*
zbx_env/var/lib/zabbix/ssh_keys/*
zbx_env/var/lib/zabbix/mibs/*

# local OS files

.DS_Store